#contato {
    border-style: solid; color: black;
    padding: 2%;
    margin: 1cm;
    text-align: center;
    border-color: white;
   
}
input{
    margin: 2%;
    display: flex;

    
    color: black;
}

div {
    text-align: center;
}


